<h2>Сброс пароля</h2>

<p>
  Забыли пароль? Введите свой e-mail адрес ниже, и мы вышлем вам письмо для
  сброса пароля.
</p>

<form novalidate nz-form [nzLayout]="'vertical'">
  <nz-form-item>
    <nz-form-label [nzFor]="'id-email'" nzRequired>E-mail</nz-form-label>
    <nz-form-control>
      <input id="id-email" type="email" nz-input />
    </nz-form-control>
  </nz-form-item>
  <p>
    <button type="submit" nz-button [nzType]="'primary'" [nzBlock]="true">
      Сбросить пароль
    </button>
  </p>
</form>

<p>Свяжитесь с нами, если у вас возникли сложности со сменой пароля.</p>

<p>
  Вы так же можете <a routerLink="../sign-in">войти</a> или
  <a routerLink="../sign-up">зарегистрироваться</a>
</p>
